@font-face {
    font-family: Passion-One;
    src: url(Passion_One/PassionOne-Regular.ttf);
}

html,
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body{
    --minor-background: rgb(226, 226, 226);
    --finished-color: rgb(144, 185, 144);
    --unfinished-color: rgb(190, 190, 190);
    display: grid;
    grid-template-columns: 1fr .05fr 1fr;
    grid-template-rows: 1;
    transition: grid-template-columns 0.5s ease-in-out;
}

#finished-books-container,
#unfinished-books-container{
    display: flex;
    flex-direction: column;
    background-color: var(--minor-background);
    z-index: 0;
}

#finished-books-container{
    grid-column: 1 / 2;
}

h1{
    font-family: Passion-One;
    font-weight: 10;
    letter-spacing: 3px;
    font-size: 45px;
    text-align: center;
}
 p,
 h2{
    margin: 0;
    padding: 0;
 }

#finished-books-list,
#unfinished-books-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(350px, 1fr, 50%));
    gap: 30px;
    padding: 0 50px;
}

.finished-book-card,
.unfinished-book-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-radius: 20px;
    gap: 30px;
    transition: transform 0.15s ease-in-out;
}

.finished-book-card{
    background: linear-gradient(to right, var(--finished-color), transparent);
}

.unfinished-book-card{
    background: linear-gradient(to right, var(--unfinished-color), transparent);
}

.finished-book-card:hover,
.unfinished-book-card:hover{
    transform: translateX(-20px);
}

.action-button-container{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    gap: 50%;
}

#form-button{
    grid-column: 2 / 3;
    height: 100%;
    width: 100%;
    font-family: Passion-One;
    writing-mode: vertical-lr;
    border: none;
    background-color:var(--unfinished-color);
    box-shadow: 0 0 30px black;
    font-size: 40px;
    letter-spacing: 5px;
    display: grid;
    place-items: center;
    z-index: 1;
}

#form-button:hover{
    animation: add-book 0.5s ease forwards;
}

@keyframes add-book {
    100% {background-color: var(--finished-color)}
}

dialog{
    border: none;
    background-color: transparent;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--minor-background);
    border-radius: 20px;
    padding: 30px;
    align-self: stretch;
}

.book-info{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.remove-button,
.status-toggle-button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: solid darkgray 2px;
}

label{
    font-family: Passion-One;
    font-weight: 10;
    letter-spacing: 2px;
    font-size: 30px;
}

#unfinished-books-container{
    grid-column: 3 / 4;
}